.presentation_container{
    display: flex;
    flex-direction: row;
    padding: 0 35px;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
}

.text_field{
    font-size: 2.2vw;
    max-height: 220px;
    font-family: Inter;
    font-weight: bold;
}

.colored_text{
    color: #E34D3C;
}

.left_side{
    display: flex;
    flex-direction: column;
    gap: 36px;
    font-size: 20px;
    font-family: Inter;
    padding-top: 36px;
}
.opis{
    font-size: 2vw;
    max-height: 220px;
    font-family: Inter;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 30px;
}



.slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px #1D1B20 solid;
    border-radius: 14px;
    height: 460px;
    width: 870px;
    font-size: 64px;
    font-family: "Roboto";
    font-weight: bold;
}


@media (max-width: 1416px) {
    .presentation_container{
        flex-direction: column;
        gap: 50px;
    }
    .left_side{
        text-align: center;
        max-width: 1000px;
        align-items: center;
    }
}

@media (max-width: 922px) {
    .slider{
        height: 230px;
        width: 435px;
    }

    .left_side{
        text-align: center;
        max-width: 500px;
        align-items: center;
        gap: 24px;
    }

    .presentation_container{
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .slider{
        height: 116px;
        width: 218px;
    }

    .left_side{
        text-align: center;
        max-width: 254px;
        align-items: center;
        gap: 24px;
    }
}