.background {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 1000px;
    background: linear-gradient(rgba(255, 43, 43, 0),rgba(255, 43, 43, 0.24),
    rgba(255, 43, 43, 0.4), rgba(255, 43, 43, 0.24), rgba(255, 43, 43, 0) );
    border: none;
    position: relative;
}

.title{
    font-size: 96px;
    font-family: Roboto;
    font-weight: bold;
    color: #FAFAFA;
    margin-top: 10%;
    margin-left: 6%;
    margin-bottom: 50px;
    text-shadow: 6px 8px 0px rgba(255, 255, 255, 0.3);
}

.slider{
    max-width: 99%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    --swiper-navigation-size: 30px;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 0px;
    --swiper-navigation-color: #FFFFFF;
}

@media (max-width: 460px) {
    .slider{
        max-width: 320px;
    }

    .title{
        font-size: 48px;
    }
}

@media screen and (min-width: 640px) {
    .swiper-container {
      width: 640px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .swiper-container {
      width: 768px;
    }
  }